.mypage-profile {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 40px 20px 40px;
    margin-left: 40px;
}
.profile-icon {
    width: 15%;
    border-radius: 50%;
    margin-left: 30px;
}
.mypage-profile h1 {
    margin-right: 20px;
}
.mypage-profile a {
    font-size: 26px;
    font-weight: bold;
    border: solid 2px #FF0000;
    border-radius: 10px;
    text-decoration: none;
    color: #FF0000;
    padding: 5px 10px;
    margin-left: 80px;
}
.tabs {
    border-bottom: solid 2px #5F5F5F;
    margin: 0 auto;
    padding: 40px 10px 5px 80px;
}
.tabs a {
    margin-left: 50px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #5F5F5F;
}
.tabs a.active {
    color: #FF0000;
}
.item-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: flex-start;
    margin: 60px 80px;
}
.item-card {
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 320px;
    margin-bottom: 20px;
}
.item-card a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
}
.item-card img {
    width: 100%;
    height: 80%;
}
.item-card p {
    margin-top: 0px;
}