.purchase-container {
    display: flex;
    justify-content: space-between;
    margin: 60px 50px;
    height: 100vh;
}
.purchase-item__inner {
    display: flex;
    border-bottom: solid 1px #000000;
    width: 50%;
    height: 40%;
}
.purchase-item__img {
    margin-bottom: 0;
}
.purchase-item__img img {
    width: 90%;
    height: 70%;
}
.purchase-item__label {
    padding-left: 0;
}
.purchase-item__label-name {
    font-size: 20px;
    font-weight: bold;
}
.purchase-item__label-price {
    font-size: 20px;
    margin-top: 5px;
}
.payment__inner {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #000000;
}
.payment__label {
    font-weight: bold;
    font-size: 20px;
    display: block;
}
.payment__select {
    color: #5F5F5F;
    border-radius: 4px;
    margin: 40px;
}
.address__inner {
    display: flex;
    justify-content: space-between;
}
.address__label {
    font-weight: bold;
    font-size: 20px;
    display: block;
}
.address__link {
    padding-top: 20px;
}
.address__link a {
    color: #0073CC;
    text-decoration: none;
    font-size: 20px;
}
.address {
    border-bottom: solid 1px #000000;
}
.address-info {
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
} 
.price__inner {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.price-info {
    border: solid 1px #000000;
    margin-bottom: 30px;
}
.price__label {
    border-bottom: solid 1px #000000;
    padding: 10px 20px;
}
.purchase-button button{
    width: 400px;
    padding: 10px;
    margin: 10px 0;
    background-color: #FF5555;
    border-color: #FF5555;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
}